<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">VALUE</p>
<p th:text="${person.getId()}">VALUE</p>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getTitle() + ', '+ book.getAuthor() + ', ' + book.getAge()}">user</a>
</div>
<br/>
<form th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>